<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-label floating> Message </ion-label>
        <ion-input block type="text" [(ngModel)]="message" clearInput></ion-input>
        <button ion-button outline item-end (click)="sendMessage()">Send</button>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="canGetGyroscope">
      <ion-item>
        <h2> Gyroscope Data </h2>
        <p> x: {{orientation.x.toFixed(3)}}, y: {{orientation.y.toFixed(3)}}, z: {{orientation.z.toFixed(3)}} </p>
        <button ion-button outline item-end (click)="setGyroscope()">Get</button>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="canGetGyroscope">
      <ion-item>
        <h2> Send Gyroscope Data Continuously </h2>
      </ion-item>
      <ion-item>
        <ion-label floating> Time Interval (ms) </ion-label>
        <ion-input type="number" [(ngModel)]="interval" clearInput></ion-input>
        <button item-end ion-button outline (click)="frequentOpt == 'start' ? startInterval() : stopInterval('click')" class="button-center"> {{ frequentOpt }} </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
