<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-label floating> Message </ion-label>
        <ion-input block type="text" [(ngModel)]="message" clearInput></ion-input>
        <button ion-button outline item-end (click)="sendMessage()">Send</button>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="canGetGyroscope">
      <ion-item>
        <h2> Gyroscope Data </h2>
        <p> x: {{orientation.x.toFixed(3)}}, y: {{orientation.y.toFixed(3)}}, z: {{orientation.z.toFixed(3)}} </p>
        <button ion-button outline item-end (click)="setGyroscope()">Get</button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <h2> Acceleration </h2>
        <p> x: {{acceleration.x.toFixed(3)}}, y: {{acceleration.y.toFixed(3)}}, z: {{acceleration.z.toFixed(3)}} </p>
        <button ion-button outline item-end (click)="setAcceleration()">Get</button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <h2> Heading </h2>
        <p><template [ngIf]="direction"> {{direction}}: </template> {{heading.toFixed(3)}} </p>
        <button ion-button outline item-end (click)="setHeading()">Get</button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label> Send Data Continuously </ion-label>
        <ion-select [(ngModel)]="selectedData" interface="popover">
          <ion-option value="message"> Message </ion-option>
          <ion-option value="gyroscope" *ngIf="canGetGyroscope"> Gyroscope </ion-option>
          <ion-option value="acceleration"> Acceleration </ion-option>
          <ion-option value="heading"> Heading </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating> Time Interval (ms) </ion-label>
        <ion-input type="number" [(ngModel)]="interval" clearInput></ion-input>
        <button item-end ion-button outline (click)="frequentOpt == 'start' ? startInterval() : stopInterval('click')"> {{ frequentOpt }} </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
