<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-template ngFor let-message [ngForOf]="displayMessages">
    <ng-template [ngIf]="message.deviceId == selectedItem.deviceId">
      <div *ngIf="message.image" class="monitor-message-image-div">
        <img [src]="message.image" class="monitor-message-image" />
      </div>
      <ion-item text-wrap>
        <ion-avatar item-start *ngIf="message.icon">
          <img [src]="message.icon" />
        </ion-avatar>
        <h2 class="monitor-title"> {{message.message}} </h2>
        <p class="monitor-time"> {{message.time}} </p>
      </ion-item>
    </ng-template>
  </ng-template>
</ion-content>
