page-subscribe {

}

h2.monitor-title {
  font-size: 30px;
}

p.monitor-time {
  font-size: 15px;
}

div.monitor-message-image-div {
  width: 100%;
  background: lightblue;
}

img.monitor-message-image {
  height: 200px;
  display: block;
  margin: 0 auto;
}