<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device List</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="setConnectionString()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button icon-only (click)="createDevice()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading">
    <ion-spinner class="starting-spinner"></ion-spinner>
  </div>
  <ion-list *ngIf="!isLoading">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.connectionState === 'Disconnected' ? 'close-circle' : 'checkmark-circle'}}" item-left></ion-icon>
      {{item.deviceId}}
      <ion-badge item-right *ngIf="globalItems.unreadMessageNumber[item.deviceId]"> {{globalItems.unreadMessageNumber[item.deviceId]}} </ion-badge>
    </button>
    <ion-card *ngIf="items.length == 0">
      <ion-card-content>
        For more information about Azure IoT, please visit <a href="https://aka.ms/azure.iot">aka.ms/azure.iot</a> or <a href="https://azure.microsoft.com/en-us/services/iot-hub/">Azure IoT Hub website</a>.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
