page-device-list {
  .starting-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 15%;
    width: 15%;
    text-align: center;
  }
}
