<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf="!isLoading">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="checkmark-circle" item-left></ion-icon>
      {{item.deviceId}}
    </button>
  </ion-list>
</ion-content>
